image: debian:stable

stages:
  - test
  - staging

debian-test:
  stage: test
  before_script:
    - apt update && apt -y install python3-full         # install Python
    - python3 -m venv /venv                             # create a virtual environment
    - source /venv/bin/activate                         # activate virtual environment
    - pip install drawsvg pytest numpy                  # install required packages
  script: # explicitly write out all cases to run
    - pytest tests/*.py

documentation:
  stage: staging
  image: ghcr.io/ifilot/sphinx:v0.4.0 # custom Sphinx image
  script:
    - pushd docs && make html && popd
  artifacts:
    paths:
      - docs/_build/html/
    expire_in: 1 hour
