name: Documentation

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build and Deploy Sphinx Documentation
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.13.1

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install sphinx-rtd-theme \
              sphinxcontrib-tikz \
              pydata-sphinx-theme \
              sphinx_design \
              sphinx_subfigure \
              myst_parser
    - name: Build Documentation
      run: |
        cd docs
        make html

  pages:
    name: Deploy to GitHub Pages
    needs: docs
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages

    steps:
      - name: Download documentation
        uses: actions/download-artifact@v4
        with:
          name: documentation-html
          path: public

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4